.App {
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.container {
  background-color: #ffffff;
  text-align: left;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0;
}

.form-new-applicant {
  margin-top: 20px;
}

.button-form{
  margin-top: 10px;
}


.input-country {
  width: 300px;
}

.input-container {
  margin-top: 10px;
  display: flex;
}

.input-left {
  width: calc(50% - 10px);
}

.input-right {
  width: 100%
}


.input-original {
  margin-left: 20px;
  width: calc(50% - 10px);
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.text-json{
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .input-container {
    flex-direction: column;
  }
  .input-original{
    margin-left: 0;
    width: 100%
  }
  .input-left {
    width: 100%
  }
  .input-country {
    width: 50%;
  }
}
